.header {
    background-color: var(--background);
    padding: 1px 20px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}

.theme-toggle {
    background: none;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.theme-toggle svg {
    font-size: 18px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--grey);
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
}

iframe {
    border: 0;
    border-radius: 6px;
}

.selected {
    border: 1px solid var(--black);
}

.flags-container {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flag-icon {
    width: 25px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.flag-icon.selected {
    transform: scale(1.1);
    border: 2px solid #000;
}
